@import "tailwindcss";

@theme {
  --color-xpandify-green: #1f493d;
  --color-xpandify-gold: #D4AF37;
  --color-xpandify-white: #ffffff;
}

body {
  background-color: var(--color-xpandify-white);
  color: var(--color-xpandify-green);
}
